.cust_lg {
  background: rgb(253, 253, 253);
  background-image: url("../assets/auth_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  background-position-x: right;
  background-position-y: bottom;

}